.Soda {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    gap: 10rem;
}

.Soda-container {
    align-self: center;
    background-color: #424040;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
}

.Soda-can {
    align-self: center;
}

.Soda-back {
    color: white;
    text-decoration: none;
}

.Soda-back:hover {
    text-decoration: underline;
}

@keyframes rotate360 {
    to { transform: rotate(360deg); }
  }
  .Soda-can { animation: 2s rotate360 infinite linear; }